@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

*{
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    margin-bottom: .5rem;
    font-size: 2.3rem;
}

h2{
    margin-bottom: .5rem;
    font-size: 2rem;
}
p{
    margin-top: 20px;
    text-align: justify;
}

/*Centrar*/
.text-center{
    margin-top: 60px;
    text-align: center ;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 30px;
    background-color:#363636;
    height: 10px;
    width: 100%;

}
 /* Logo */
/* .logo{
    margin: 0;
    padding: 0; 
    width: 15%;
} */

/* navbar menu */
.nav-items, a{
    display: inline-block;
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    list-style: none;
}
.nav-items,li, a:hover{
   color: red;
}


/* Banner */
.banner-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/img/banner.jpg");
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    padding: 12%;
        /*  background-color: #f5f5f5; */
}

/*Texto del banner */
.banner-text{
    color: rgb(255, 255, 255);
    text-align: center;
}


/* Botones */
.btn{
    margin: 15px;
     cursor: pointer;
     border: 1px solid transparent;
     padding: .375rem .75rem;
     font-size: 1rem;
     line-height: 1.5;
     border-radius: .25rem;
     color: #fff;
     background-color: #5a6268;
     border-color: #5a6268 ;
 }

 /*Contenerdor*/
 .container{
    margin: 0% 5% 0% 5%;
    padding: 5%;
    display: flex;
}

.ligth{
    background-color: #f5f5f5;
}

.col{
    padding: 10px;
    margin: 10px;
    width: 100%;
}


/*Footer*/

.footer{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    font: normal 16px sans-serif;
    color: #8f9296;
    font-size: 14px;
    height: 50px;
    padding: 15px;
    text-align: center;
  }
  

/*Lista*/
.lista {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active, .lista:hover {
    background-color: #ccc; 
  }
  